body {
    background-image: url('Cyberpunk.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: black;
}

.box {
    position: absolute;
    width: 350px;
    height: 350px;
    background-color: white;
    top: 50%;
    left: 62%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
}

.box2 {
    position: absolute;
    width: 350px;
    height: 350px;
    background-color: white;
    top: 50%;
    right: 38%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
}

.udaje {
    position: absolute;
    scale: 0.85;
    top: 40%;
    left: 15%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: left;
}

.udaje2 {
    position: absolute;
    scale: 0.85;
    top: 45%;
    right: 36.6%;
    transform: translate(50%, -50%);
    color: black;
    text-align: right;
}
